.App {
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
}
.category{
  transition: 0.4s ease;
}
input{
  margin:0.3em 0 0 0;
  border: 1px solid gray;
  outline: none;
  padding:0.5em 0 0.5em 0.5em;
  border-radius: 5px;
} 

body::-webkit-scrollbar {
  display: none;
}
