@tailwind base;
@tailwind components;
@tailwind utilities;

@variants hover, focus {
  .dashboard-button{
    background-image: linear-gradient(to top right, #E6E7FA, #FFFFFF);
    @apply flex flex-col w-1/4 rounded-xl shadow-2xl text-blue-500 px-4 py-3;
  }
  
  .dashboard-button-click{
    background-image: linear-gradient(to top right, #528CF8, #FFFFFF);
    /* background-image: linear-gradient(to left bottom, #4a86f7, #4a86f7, #649aff, #6398fa, #6197fc); */
    padding-left:3rem;
    @apply rounded-xl shadow-2xl flex flex-col w-1/3 text-white px-4 py-3;
  }
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECEFF4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


